@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <title>PizzaMama</title>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body class="homePage">

    <div class="centered">
        <img src="~/images/main_logo.png" />

        <div class="main_link_position">
            <a asp-page="MenuPizzas">Voir le menu</a>
        </div>         
    </div>

</body>
</html>



