@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <title>PizzaMama</title>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">PizzaMama accueil </h1>
        <p> <a asp-page="MenuPizzas">Voir le menu des pizzas</a>.</p>
    </div>

</body>
</html>



